*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100%;
    min-height: 100vh;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.topline{
    background-color: cornflowerblue;
}
.logo{
    width: 150px;
    padding: 10px 0;
}
.logo img{
    max-width: 100%;
    height: auto;
    display: block;
}
.copy{
    background-color: cornflowerblue;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.copy p{
    color: #eeeeee;
}
.copy a{
    color: yellow;
}
.form{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid cornflowerblue;
}
.form-name{
    background-color: cornflowerblue;
    color: #ffffff;
    padding: 10px;
}
.h2{
    font-weight: normal;
}
.h2 span{
    margin-right: 6px;
    cursor: pointer;
}
.main-content{
    padding-top: 40px;
    padding-bottom: 80px;
}
.form-block{
    padding: 20px;
}
.form-block.close{
    display: none;
}
.form-input-wrap{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    align-items: center;
}
.form-input-wrap.last{
    align-items: baseline;
}
.form-input-wrap p{
    width: 20%;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: bold;
}
.form-input-wrap input,
.form-input-wrap textarea{
    width: 80%;
    padding: 7px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #d3cccc;
    overflow: hidden;
}
input{
    padding: 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #d3cccc;
    overflow: hidden;
}
select{
    padding: 7px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #d3cccc;
    overflow: hidden;
    outline: none;
    margin-left: 10px;
    cursor: pointer;
}
textarea{
    height: 90px;
}
.half-input{
    display: flex;
    justify-content: flex-end;
}
.half{
    width: 50%;
}
.half input{
    width: 60%;
}
.btn-sub{
    display: flex;
    justify-content: flex-end;
}
.btn{
    background-color: cornflowerblue;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #3b7ced;
    transition: 0.3s;
}
.sort-form{
    padding: 15px 0;
}
.create-list{
    width: 95%;
    margin: 0 auto;
}
.create-list-block{
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}
.block-delete{
    min-width: 40px;
}
.block-delete span{
    color: orangered;
    font-size: 23px;
    cursor: pointer;
}
.block-descr{
    width: 100%;
    padding-bottom: 5px;
}
.block-descr p{
    line-height: 1.5;
}
.descr-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.descr-wrap .date{
    font-style: italic;
    color: #9d9d9d;
}
.owner span:first-child{
    font-weight: 600;
    padding-right: 5px;
}
.select-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
button{
    padding: 9px;
    border: 1px solid #d3cccc;
    position: relative;
    left: -7px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: #fff;
    border-color: cornflowerblue;
    transition: 0.3s;
}
button:hover{
    transition: 0.3s;
    background-color: #3b7ced;
}
.search{
    width: 230px;
}
.sort-form{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}