.copy,
.topline{
    background-color: rgb(19, 23, 32);
}
.topline p{
    color: #fff;
    display: flex;
    align-items: center;
}
button:active,
button:link,
button {
    padding: 4px 11px;
    border: 1px solid darkslateblue;
    position: static;
    cursor: pointer;
    background-color: darkslateblue;
    color: #fff;
    transition: 0.3s;
    line-height: 1;
    font-size: 26px;
    margin-left: 8px;
    outline: none;
}
.main-content{
    height: 94vh;
    padding: 0;
    background-image: url("http://www.rabstol.net/uploads/gallery/main/581/rabstol_net_star_wars_02.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.copy{
    position: static;
    padding: 0;
    font-size: 14px;
    width: auto;
    opacity: 0.7;
}
.copy a {
    color: #3b7ced;
    margin-left: 10px;
}
.container.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1400px;
    width: 100%;
    height: 100%;
}
textarea{
    margin: 0px;
    width: 100%;
    min-height: 150px;
    border: none;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    resize: none;
    padding: 6px;
    display: block;
    background-color: #ffffff;
}
textarea[disabled]{
    background-color: lightgoldenrodyellow;
}
.message{
    width: 250px;
    background-color: khaki;
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
}
.delete{
    overflow: hidden;
}
.delete-btn{
    cursor: pointer;
    float: right;
    margin: 5px 7px;
    width: 15px;
}
.message-btn{
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px 5px;
}
.btn:active,
.btn {
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
    border-radius: 0px;
    padding: 4px 11px;
    font-weight: normal;
    border: none;
}
.btn-edit{
    background-color: burlywood;
}
.btn-save{
    background-color: mediumaquamarine;
}
body{
    background-color: #000;
}
